#container-dashboard {
    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
    padding: 30px 50px;
    background: linear-gradient(100deg, rgba(92, 59, 160, 0.94) 45%, #4369A2 75%);
}

.vazio {
    width: 100px;
}

#main-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#main-dashboard img {
    height: 180px;
    width: 250px;
}

#nav-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    margin: 80px 0px 20px 0px;
}

#nav-dashboard ul li a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 70px;
    background-color: var(--primary);
    border-radius: 30px;
    padding: 5px;
    font-size: 18px;
    transition: all 0.4s;
    color: white;
    padding: 15px;
    border: 1px solid var(--primary);
}

#nav-dashboard ul li a:hover {
  border: 1px solid var(--primary);
  border-radius: 20px;
  background-color: white;
  color: var(--primary);
}

#logout {
    margin-bottom: 30px;
}

#logout a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid red;
    transition: all 0.4s;
    font-size: 20px;
}

#logout a:hover {
    border: 1px solid white;
    background-color: transparent;
    color: white;
} 

p {
    color: white;
    font-size: 24px;
    font-weight: bold;
}