#container-dashboard {
    height: 100%;
    width: 100vw;
    font-family: Roboto, sans-serif;
    padding: 30px 50px;
    background: linear-gradient(100deg, rgba(92, 59, 160, 0.94) 45%, #4369A2 75%);
}

.vazio {
    width: 100px;
}

#main-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

#main-dashboard img {
    height: 200px;
    width: 300px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
}

.sair {
    height: 70px;
    width: 100px;
    font-size: 40px;
    margin: 0;
}

#nav-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    width: 100%;
}

#nav-dashboard ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
    background-color: var(--primary);
    border-radius: 30px;
    height: 50px;
    font-size: 18px;
    transition: all 0.4s;
}

#nav-dashboard ul li a {
    color: white;
    margin: 10px 20px;
    text-align: center;
    width: 100%;
}

#nav-dashboard ul li:hover {
  border-radius: 2px solid var(--primary) ;
  border-radius: 20px;
}

p {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

