.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(100deg, rgba(92, 59, 160, 0.94) 45%, #4369A2 75%);
}

.main {
    display: flex;
    align-items: center;
    width: 830px;
    height: 545px;
    background-color: white;
    border-radius: 30px;
}

.logo {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.form {
    background-image: url(../../assets/divisor.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}

.form input{ 
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 300px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 5px;
}

form {
  margin-right: 60px;
}

.form label {
    font-size: 22px;
}

.main {
    background-color: var(--primary);
}

.divbtn {
    display: flex;
}

.btn {
    height: 40px;
    width: 180px;
    border-radius: 20px;
    background-color: var(--primary);
    margin: 0 auto;
    font-size: 20px;
}