#container-palestra {
    height: 100%;
    width: 100%;
    background: linear-gradient(100deg, rgba(92, 59, 160, 0.94) 45%, #4369A2 75%);
    font-family: Roboto, sans-serif;
    padding: 30px 50px;
}

#main-palestra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#main-palestra img {
    height: 200px;
    width: 300px;
}

.palestra {
    margin-top: 20px;
    background-color: white;
    width: 700px;
    border-radius: 20px;
    padding: 20px;
    font-size: 16px;
}

.palestra input {
    padding: 2px 5px ;
}

.palestra h1 {
    text-align: center;
    color: var(--primary);
    margin-bottom: 15px;
    font-size: 28px;
}

form label {
    font-size: 18px;
    color: var(--primary);
}

.titulo-input {
    border: 2px solid var(--primary);
    height: 25px;
    width: 42vw;
    border-radius: 5px;
    margin-bottom: 10px;
}

.nome-palestrante-input {
    border: 2px solid var(--primary);
    height: 25px;
    width: 20vw;
    border-radius: 5px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.data-input {
    border: 2px solid var(--primary);
    height: 25px;
    width: 120px;
    border-radius: 5px;
}

.sala-input {
    border: 2px solid var(--primary);
    height: 25px;
    width: 10vw;
    border-radius: 5px;
    margin-bottom: 10px;
}

.descricao-input {
    border: 2px solid var(--primary);
    height: 25vh;
    width: 42vw;
    border-radius: 5px;
    padding: 5px 0px 0px 5px;
    font-size: 18px;
}

form .field-group {
    flex: 1;
    display: flex;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

form .field-group .field + .field {
    margin-left: 24px;
}

.btn-cadastro {
    
}

