#container-palestra {
    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
}

#main-palestra {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

#main-palestra img {
    height: 180px;
    width: 250px;
    margin-top: 30px;
}

.palestra {
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 40px;
}

input {
  font-size: 16px;
  height: 40px;
  padding: 5px 10px ;
}

.palestra h1 {
    text-align: center;
    color: var(--primary);
    margin-bottom: 15px;
    font-size: 28px;
}

form label {
    font-size: 18px;
    color: var(--primary);
}

.titulo-input {
    border: 2px solid var(--primary);
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.nome-palestrante-input {
    border: 2px solid var(--primary);
    height: 35px;
    border-radius: 5px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.data-input {
    border: 2px solid var(--primary);
    height: 35px;
    width: 120px;
    border-radius: 5px;
}

.sala-input {
    border: 2px solid var(--primary);
    height: 35px;
    width: 90px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.hora-input {
  border: 2px solid var(--primary);
  height: 35px;
  width: 75px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.descricao-input {
    border: 2px solid var(--primary);
    height: 150px;
    border-radius: 5px;
    padding: 5px 0px 0px 5px;
    font-size: 18px;
}

form .field-group {
    flex: 1;
    display: flex;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

form .field-group .field + .field {
    margin-left: 15px;
}

form textarea {
    resize: none;
    font-size: 16px;
}

.button {
  display: flex;
  flex: 1;
  margin-top: 10px;
  justify-content: flex-end;
}

.button button#voltar-palestra {
    font-size: 18px;
    background: red;
    color: white;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 15px;
    border: 1px solid red;
    transition: all 0.3s;
    margin-right: 10px;
}

.button button#voltar-palestra:hover {
  border: 1px solid red;
  background-color: white;
  color: red;
}

.button button {
  background: var(--tertiary);
  color: #fff;
  font-size: 18px;
  height: 45px;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  justify-self: center;
  transition: all 0.3s;
  border: 1px solid var(--tertiary);
}

.button button:hover {
  border: 1px solid var(--tertiary);
  background-color: white;
  color: var(--tertiary);
}

#loading-Palestra {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 10px;
  
}

#loading-Palestra  #loadding-container {
  font-size: 18px;
  background: var(--tertiary);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  height: 45px;
}


#loading-Palestra  #loadding-container {
  cursor: wait;
}

#loading-Palestra  #loadding-container #loadding-container-icon {
  color: #fff ;
  margin-right: 5px;
}

#loading-Palestra  #loadding-container #loadding-container-icon svg {
  animation-name: spinner;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
  
#loading-Palestra  #loadding-container #loadding-container-text {
  padding-top: 2px;
  height: 22px;
  color: #fff;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
	}
	100% {
    transform: rotate(360deg);
	}
}


#error-palestra {
  color: red;
  font-size: 15px;
  margin-top: 0;
  text-align: right;
  margin-top: 10px;
  animation-name: error;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
} 
